RewriteEngine On
RewriteBase /
#--------- FRIENDLY URLS -------------
# The Friendly URLs part
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L,QSA]

php_flag register_globals Off
SetEnv no-gzip 1