RewriteEngine On
RewriteBase /
#--------- FRIENDLY URLS -------------
# The Friendly URLs part
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [L,QSA]

# We disable gzip, so we can output correct headers with php.
SetEnv no-gzip 1
