This little site is to display some of the basic code functionality of UltraLight.

= Formatted text example
= This project is on GitHub!
* Core (the framework): "UltraLight-Core"=>https://github.com/Nimja/UltraLight-Core
* Example (this site): "UltraLight-Example"=>https://github.com/Nimja/UltraLight-Example

== UltraLight Core v 4.1
* Support for BootStrap!

== UltraLight Core v 4
* Another refactor; namespaces and more structured core library.
* Support for transformations.

== Example of Transformations
* ucfirst: +transform:ucfirst+
* upper: +transform:upper+
* lower: +transform:lower+
* random(changes every reload): +transform:random+
* glitch(changes every reload): +transform:glitch+
* custom: +transform:custom+

== UltraLight Core v 3
* Refactor of all the logic, very cool model system and new page system for AJAX requests.

== UltraLight Core v 0.2
* Redirects and forced URLs with some sanity checking. (so /this/page/here is never /////this//page////here )
* Dynamic selection of core or application path for libraries. (core has precedence)

== UltraLight Core v 0.1
* VERY light MVC framework, loading 5 slim files for a basic page: index, config, load, controller and view.
* Static access to important methods.
* Dynamic loading of libraries